
<div class="rules">
  <button mat-button (click)="openRefuseMessage()" >Refuser</button>


  <h1> Commençons par le début</h1>

  <div>
    Tu as 4h pour faire ce checkpoint.
  </div>

<div>
  L'idée est simple, ce site web est fonctionnel, mais il a besoin d'un back pour afficher des données.
</div>


<div>
  Tu n'as donc rien à modifier dans ce site (de toute manière tu n'en as pas la possibilité)
</div>

<div>
  Ta tâche est donc de réaliser les différentes routes backend qui te seront demandées au fil du checkpoint.
</div>


<div class="step" >
  <p class="smally" >Étape n°1:  Un simple CRUD</p>
  <button class="larger" mat-button color="primary" routerLink="/users" >Commencer l'étape 1</button>
</div>

<div class="step" >
  <p class="smally" >Étape n°2:  Des jointures !!</p>
  <button class="larger" mat-button color="primary" routerLink="/feed" >Commencer l'étape 2</button>
</div>

</div>
